<html>
 <body>
	<h3>Welcome {{username}}</h3>
	<h5>From :</h5>
	<select name="from">
	<option value="A">A</option>
	<option value="B">B</option>
	<option value="C">C</option>
	<option value="D">D</option>
	<option value="E">E</option>
	<option value="F">F</option>
	</select>
	
	h5>To :</h5>
	<select name="To">
	<option value="A">A</option>
	<option value="B">B</option>
	<option value="C">C</option>
	<option value="D">D</option>
	<option value="E">E</option>
	<option value="F">F</option>
	</select>
  
 </body>
</html>