<html>
	<body>
 <h1 style='text-align:left;'>Current Balance in Wallet {{bal}}</h1>
 
 <h2 style='text-align:left;'>Add Balance: </h2>
  <form method='POST'>
 <p><h3 style='text-align:left;'>Amount to be added to Wallet <input type = "text" name = "addb" /></h3></p>
 <input type = "submit" name='add_m' value = "Add Money" formaction="/home/add_balance_re" />
 <input type = "submit" name='add_m1' value='Home' formaction="/home_route" />
  </form>
 {{mess}}
   </body>
</html>


 

 